version: '3.8'

services:
  web:
    image: odoo:18.0
    container_name: scholarix_odoo_test
    depends_on:
      - db
    ports:
      - "8070:8069"
    volumes:
      - ./:/mnt/extra-addons/scholarix_theme:ro
      - odoo-web-data:/var/lib/odoo
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo_password
    command: --addons-path=/mnt/extra-addons
    
  db:
    image: postgres:15
    container_name: scholarix_postgres_test
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=odoo_password
      - POSTGRES_USER=odoo
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - odoo-db-data:/var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"

volumes:
  odoo-web-data:
  odoo-db-data:
